.footer {
   background-color: var(--bg-color-dark);
   padding: 60px 0 50px 0;
   margin-top: auto;
   border-top: 1px solid var(--dark-border);
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 30px;
}

.footer__copyright {
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}